<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
        <title>Flask Blog - {{title}}</title>
    {% else %}
    <title>Flask Blog </title>
    {% endif %}

</head>
<body>
   
    {% for post in posts %}
        <h1>{{post.title}}</h1>
        <p>By {{post.author}} on {{post.date}}</p>
        <p>{{post.content}}</p>
    {% endfor %}
</body>
</html> -->

<!-- i have commented above code bcz in home and about file we have given title to file but each time when we have to 
change the title from both files .for that we have created a file name layout.html , in which we are using the code which are 
same in both home and about file. so we are commented the code. and below is the only code which is non repeated and which is 
used to render in app.py file. -->

{%extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}